@import url("https://fonts.googlealeapis.com/css?family=Poppins:40o,500,700");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-image: url('./imagens/nuts.jpg');
  background-attachment: fixed;
  overflow-x: hidden;
}

.navbar{
position: fixed;
  width: 100%;
}
.nav-link {
  font-size: 1.1em;
}
nav{
background-color: #05250c;
}
.navbar-brand img{
  background: no-repeat center;
  background-size: cover;
    
}
.dropdown-menu{
background:#05280d;
color:#ffc107;
}
.navbar-dark .navbar-nav .nav-link{
  color:#ffc107;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color:#ffc107;
}
.dropdown-menu a{
  color:#ffc107;
}
.btn-outline-success {
        color: #ffc107;
        background-color: transparent;
        background-image: none;
        border-color: #ffc107;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  overflow-x: hidden;
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline;
  background:  rgb(173, 233, 170);
  color:#05280d;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(252, 241, 149);
}
.text-form{
  text-align: left;
  color:#05280d; 
}
#buttonsignup {
  background-color: #05280d;
  color:  #ffc107;
  padding: 20px 20px;
  margin: 8px 345px;
  border: none;
  cursor: pointer;
  width: 50%;
  font-weight: bold;
  font-size: 120%;
  opacity: 0.9;
}
#buttonsignup:hover {
  background-color:  #28a745;
  color: #fefefe;

}

.signupbtn {
  width: 50%;
              
}
.container1 {
  padding: 16px;
}
.container1 h1{
  color: #05280d;
  font-weight: bold;
  text-align:center ;
  }
.container1 p{
  color: #05280d;
  font-style: italic;
  text-align:center ;
}

.modal {
  display: none;
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 

  background-color: #05280d;
  padding-top: 50px;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}
#hrmodal{
  border: 1px solid #05280d;
  border-style:groove;
  margin-bottom: 25px;
}
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color:#ffffff;
}
.close:hover,
.close:focus {
  cursor: pointer;
  background-color: #28a745;
}
.clearfix::after {
  content: "";
  clear: both;
}

.carousel-item img{
  width:100%;
}
.carousel-caption {
  top: 60%;
  transform: translateY(-60%);
}
.carousel-caption h1{
  color:white;
  padding-top: 2px;
  padding-bottom:5px;
  font-size:400%;
  text-transform: uppercase;
  text-shadow:5px 5px 20px #000000;
}
.carousel-caption h3{
  color: #ffc107;
  font-size: 200%;
  font-weight: 500;
  text-shadow: black 0.1em 0.1em 0.2em;
  padding: 1rem;
}
.carousel-caption button{
  color: #ffc107;
  background-color:#05280d;

}
.carousel-caption {
  height: 280px;
  background-color:#0000008f;
}

.jumbotron{ 
  padding: 1rem;
  padding top: 1rem;
  border-radius: 0;
  background-color:#05280d;
}
/*text jumbo*/
.jumbotron p {
  text-align: center;
  padding-bottom: 0rem;
  color: #ffc107;
}
h6{
  padding-bottom:0rem;
  text-align: right;
  color: #ffc107;
}
.padding {
  padding-bottom: 2rem;
}
.welcome{
  background-color:rgba(255,255,255, 0.9 );
  height: 60%;
  width: 70%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
  border: 1px solid #540e15;
  border: 5px dotted #540e15;
}
.welcome h1{
  color:  #540e15;
  padding-top: 20px;
  text-shadow:1px 1px 2px #000;
  text-align: center;
}
.welcome  p{
  padding-top: 20px;
  color: black;
  width: 75%;
  height: 40%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #540e15;
}
.welcome a{
  color: #540e15;
  text-shadow:1px 1px 2px #000;
}
.menu{
margin-top: 40px;
margin-left: 0px;
}
.card-body h4{
  color: #540e15;
  font-size: 30px;
  text-shadow:1px 1px 2px #000;
  text-align: center;
}
.card-body button{
  background: #05280d;
  color:#ffc107;
  font-size: 18px;
  padding: 0;
  text-align: center;
  width: 100px;
  height: 50px;
}
.color h1{
  color:  #540e15;
}
.block {
  padding:20px 20px;
  margin: 16 auto;
  background-color:rgba(255,255,255, 0.9 );
  width: 1600px;
  display: flex;
  border: 5px dotted #540e15;
}
.block h2{
  color:  #540e15;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 50px;
  text-shadow:1px 1px 2px #000;
  text-align: center;

}
.block img{
height: 100%;
width: 100%;
padding: 6px 6px;
border-radius: 100px;
border-color: #540e15;
border-style: double;
border-width: 10px;
}

.block a{
  background: #05280d;
  color:#ffc107;
  text-shadow:1px 1px 2px #000;
}

.govegan{
  padding-top: 40px;
  width: 100%;
  justify-content: space-between;
}
.fixed-wrap img{
  width: 100%;
  height: 100%;
  filter: brightness(50%);

}

.buttonfun{
cursor: pointer;
background-color: #05280d;
}

.gif{
  max-width: 100%;
}


.connect h2{
  padding-top: 15px;
  font-size: 3rem;
  color:#ffc107;
  text-align: center;
}

.social a{
  font-size: 2rem;
  padding:18px;
color: #ffc107;
}

.foot{
  padding: 0px;
}
.footer {
  background-color:#05280d;
  color:#ffc107;
}
.footer img{
  padding-top: 10px;
  padding-top: 10px;
}

hr{
  height: 1px;
}

.center1 {
  margin: 6%;
  width: 90%;
  position: absolute;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}
